# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.oop_2.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\projects\labs\3-semester\oop\4_semester\oop_2\.idea\.idea.oop_2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
